{% extends 'base.html.twig' %}

{% block title %}Articulo{% endblock %}

{% block body %}
    {% if articulo %}
        <h1>{{ articulo.titulo }}</h1>
        <p>{{ articulo.contenido }}</p>
        <p>ESPECIAL CASE</p>
    {% else %}
        <p>El articulo no existe</p>
    {% endif %}
{% endblock %}