{% extends 'base.html.twig' %}

{% block title %}Articulo{% endblock %}

{% block content %}
    {% if articulo %}
        <h1>{{ articulo.title }}</h1>
        <p>SPECIAL CASE</p>
    {% else %}
        <p>El articulo no existe</p>
    {% endif %}
{% endblock %}